<div class="tela-inicial">
   <h1>WEATHER</h1>
   <p>Select a Country</p>
   <div class="weatherWidgetRow cloudDiv">
    <span class="fa fa-globe"></span>
</div>
</div>

<div class="cidades-1">
    <h6 (click)="abrirDallol()">Dallol</h6>
    <h6 (click)="abrirFairbanks()">Fairbanks</h6>
    <h6 (click)="abrirLondon()">London</h6>
</div>

<div class="cidades-2">
    <h6 (click)="abrirRecife()">Recife</h6>
    <h6 (click)="abrirVancouver()">Vancouver</h6>
    <h6 (click)="abrirYakutsk()">Yakutsk</h6>
</div>